@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card{
  perspective: 1000px;

}
.flip-card-inner{
  transition: transform 0.6s ;
  transform-style: preserve-3d;

}

.flip-card-front,
.flip-card-back{
  position:absolute;
  backface-visibility: hidden;
}

.flip-card-back{
  transform: rotateY(180deg);
}
@keyframes rotateGradient{
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 100% 100% ;
  }
}




:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg]
}

.rotate-90 {
  @apply rotate-[90deg]
}

.rotate-135 {
  @apply rotate-[135deg]
}

.rotate-180 {
  @apply rotate-[180deg]
}

.rotate-225 {
  @apply rotate-[225deg]
}

.rotate-270 {
  @apply rotate-[270deg]
}

.rotate-315 {
  @apply rotate-[315deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-45 {
  @apply rotate-[-45deg]
}

.-rotate-90 {
  @apply rotate-[-90deg]
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply rotate-[-180deg]
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}

.blood-center {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.location-input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.blood-banks-list {
  list-style-type: none;
  padding: 0;
}

.blood-bank-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
